body {
    margin: 0;
    padding: 0;
    background-image: url('Imagenes/wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.contenido {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

header {
    margin: 0px;
    align-items: center;
    display: flex;
    background-color: aliceblue;
    height: 65px;
    border-style: solid;
}

a {
    font-weight: bolder;
    margin-left: 178px;
    justify-content: space-between;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.card {
    width: 280px;
    height: 310px;
    background: #e1e1e1;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
    padding-left: 15px;
}

.card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    background: #2e2e2e;
    color: #e1e1e1;
}

.first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
}

.card:hover .first-content {
    height: 0px;
    opacity: 0;
}

.second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}

.card1 {
    width: 280px;
    height: 310px;
    background: #e1e1e1;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
    padding-left: 15px;
}

.card1:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    background: #2e2e2e;
    color: #e1e1e1;
}

.first-content1 {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
}

.card1:hover .first-content1 {
    height: 0px;
    opacity: 0;
}

.second-content1 {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
}

.card1:hover .second-content1 {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}

.medio {
    margin-left: 14%;
    margin-top: 11%;
    display: flex;
}

.medio1 {
    margin-left: 30%;
}

.reloj {
    margin-top: 15%;
    width: 100%;
    height: 700px;
    background-color: black;
}

.reloj {
    display: flex;
}

.tarjeta-1 {
    height: 425px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;
}

.footer button {
    height: 35px;
    width: 120px;
    margin-left: 32%;
    border-radius: 15px;
    background-color: rgb(73, 63, 73);
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

.tarjeta-1 .contenido {
    flex-grow: 1;
    flex-shrink: 1;
}

.tarjeta-1 h2 {
    color: white;
}

.reloj img {
    border-radius: 5px;
}

@keyframes arriba {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(-5px);
    }
}

.contenido-1 :hover {
    cursor: pointer;
    animation: arriba 2s 1 forwards;
}

.tarjeta-1 button:hover {
    cursor: pointer;
    opacity: .75;
    transition: 2s;
}

.relojpiola {
    display: flex;
    height: 800px;
    width: 100%;
    zoom: 100%;
    backdrop-filter: blur(5px);
    background-position: center;
    background-size: cover;
    background-image: url(Imagenes/DALL·E\ 2024-11-16\ 19.15.07\ -\ A\ futuristic\ alien\ wearing\ a\ high-tech\ wrist\ device\ inspired\ by\ alien\ technology\,\ resembling\ a\ smartwatch\ but\ bulkier.\ The\ alien\ has\ a\ sleek\,\ humanoid.webp);
}

.omnitrix {
    margin: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    background-color: gray;
    display: flex;
    height: 500px;
    width: 1100px;
    border: 5px solid black;
    border-radius: 5px;
}

.omnitrix img {
    border-radius: 5px;
}

/*Parte Tiago Celiz*/
 .pie {
    background-image: url(imagenes/black-low-poly-geometric-background-vector.jpeg);
    color: #e1e1e1;
}
t {
    font-size: x-large;
    font-weight: bolder;
    margin-left: 33%;
    flex: content;
    align-items: center;
    padding: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: space-between;
}
n {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-weight: bolder;
    margin-left: 20px;
    padding: auto;
}
.slide {
    align-items: center;
    margin-left: 30%;
    display: grid;
}
.prove {
    margin-left: 40%;
}
.ig {
    align-items: center;
    margin-left: 30%;
    display: grid;
    padding: auto;
}
/*FIN PARTE TIAGO CELIZ*/